<%- include("header") -%>
<%- include ("nav") -%>
<article id="contact" class="wrapper style4">
    <div class="container medium">
        <header>
            <h2>Leave a message.</h2>
            <p>Anonymous message.</p>
        </header>

        <div class="row">
            <div class="col-12">
                <form method="post" action="/newsecret">
                    <div class="row">
  

                        <div class="col-12">
                            <textarea name="message" id="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <!-- value="Send Message" -->
                                <li><input type="submit" value="submit" /></li>
                                <li><input type="reset" value="Clear Form" class="alt" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>

</article>




<%- include("footer") -%>